@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: rgb(51 51 51);
  --mainLinkColor-light: #b298d9;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBgColor-light: rgb(249, 250, 251);

  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: #b298d9;
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBGColor: var(--mainBgColor-dark);
}

* {
  font-family: 'Readex Pro';
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBGColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--secondaryTextColor);
}

a:hover {
  transition: 0.3s;
  color: var(--mainLinkColor);
}

li {
  line-height: 1.9em;
}

img {
  height: auto;
  max-width: 100%;
}

#container--main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

i {
  color: var(--secondaryTextColor);
}

video {
  height: auto;
  max-width: 100%;
}

.section--page {
  padding-top: 2em;
  padding-bottom: 2em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#profile-pic {
  border-radius: 50%;
  width: 180px;
  height: 190px;
  object-position: top;
  object-fit: cover;
}

#bio {
  font-weight: 300;
}

#user-name {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0;
}

#title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

#email {
  color: var(--mainTextColor);
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-weight: 300;
  font-size: 0.9em;
  color: var(--secondaryTextColor);
  transition: 0.3s;
}

#socials--list a:hover {
  color: var(--mainLinkColor);
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  font-size: 0.9em;
}

#wrapper--projects {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#wrapper--testimonials {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.9em;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: 300;
}

.qualifications--list {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.qualifications--list h5 {
  font-size: 0.9em;
  color: var(--mainTextColor);
}

.qualifications--list p {
  font-size: 0.9em;
  font-weight: 300;
  color: var(--mainTextColor);
}

.qualifications--list ul {
  padding-left: 0;
}

.qualifications--list li {
  font-size: 0.9em;
  font-weight: 300;
  list-style: none;
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.card--work-history span {
  color: var(--mainTextColor);
}

.card--work-history p {
  color: var(--mainTextColor);
  font-size: 0.9em;
  font-weight: 300;
}

.card--work-history strong {
  color: var(--mainTextColor);
}

.card--work-history li {
  font-weight: 300;
  font-size: 0.9em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

.card--project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--mainBorderColor);
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.card--project small {
  color: var(--secondaryTextColor);
  font-weight: 300;
}

.card--project a {
  color: var(--mainTextColor);
  transition: 0.3s;
  font-size: 0.9em;
  font-weight: 300;
}

.card--project a:hover {
  text-decoration: underline;
}

.link-group {
  display: flex;
  white-space: nowrap;
  gap: 1.5em;
  padding-right: 1.5em;
}

.external-link-icon {
  width: 15px;
  height: 15px;
}

.external-link {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.card--testimonial {
  display: flex;
  flex-direction: column;
}

.card--testimonial p {
  color: var(--mainTextColor);
  font-size: 0.9em;
  font-weight: 300;
}

.card--testimonial a {
  font-size: 0.9em;
  font-weight: 300;
}

.card--testimonial small {
  color: var(--secondaryTextColor);
  font-weight: 300;
}

.card--testimonial a:hover {
  color: var(--mainTextColor);
}

.quote-author {
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapper--hero {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #profile-pic {
    width: 200px;
    height: 210px;
  }

  #wrapper--hero {
    flex-direction: column;
  }

  #wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
  }

  .qualifications--list {
    border-left: none;
    padding-left: 0;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }

  .card--project {
    padding-left: 1em;
  }

  .card--project a {
    color: var(--mainTextColor);
    transition: 0.3s;
    font-size: 0.75em;
    font-weight: 300;
  }

  .link-group {
    padding-right: 1em;
  }
}
